*.log
*.pyc
media
db.sqlite3
local_settings.py
env/
vscode/
.vscode/
.env
*.stash
celerybeat-schedule.db
celerybeat.pid
backup.sql

node_modules/
debug_scripts/

klepto_disk_listings.db
backup_121920.sql
disk_cache.db
fetch_listing_disk_cache
fetch_listing_disk_cache.db
*.rdb

staticfiles/
celerybeat-schedule